
// Required Core Stylesheet
@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";

// Optional Theme Stylesheet
@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";

.glide__arrow {
    border: 1px dashed black ;
}

.back {
    &:nth-child(even) {
        @media (min-width: 1280px) {
            flex-direction: row-reverse;
        }
    }
}

img {
    width: 90%;
    height: auto;
}